<%= stylesheet_link_tag 'microposts' %>
<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
      <h4>Editing Micropost</h4>
      <%= render 'form', micropost: @micropost %>
       </div>
     </div>
   </div>
 </div>
       <div class="row">
         <p class='control'>
         <%= link_to 'Show', @micropost %> |
         <%= link_to 'Back', microposts_path %>
         </p>
       </div>
