<%= stylesheet_link_tag 'microposts' %>
<div class="main-container">
<div class="post-container">
<h4>Editing Micropost</h4>

<%= render 'form', micropost: @micropost %>
<%= link_to 'Show', @micropost %> |
<%= link_to 'Back', microposts_path %>

</div>
</div>
