.main-container {
    height: 100%;
    width: 100%;
    padding: 25px;
    background-color: rgba(245, 243, 236, 0.918);
}

.content {
    width: 360px;
    margin: 0 auto;
}

.content.users {
    width: 650px;
}

table {
    width: 700px;
    border: none;
    margin-bottom: 20px;
    font-family: "Roboto Slab", serif;
}

table thead th {
    font-weight: bold;
    text-align: center;
    border: none;
    padding: 10px 15px;
    background: #d8d8d8;
    font-size: 14px;
    border: 1px solid #dddddd;
}

table thead tr th:first-child {
    width: 180px;
}

table thead tr th:last-child {
    width: 260px;
}

table tbody td {
    text-align: left;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: center;
    border: 1px solid #dddddd;
}

table tbody tr:nth-child(even) {
    background: #f3f3f3;
}

.actions-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.actions-btn button {
    font-weight: 700;
    cursor: pointer;
    font-size: 0.9rem;
    transition: 0.4s ease-in-out;
    font-family: "Roboto Slab", serif;
}

.actions-btn button:hover {
    color: rgba(0, 0, 0, 0.541);
}
